<body class ="homepage">
    <div class="home_container">
      <nav class="top-bar header" data-topbar>
        <section class="top-bar-section">

          <!-- Right Nav Section -->
          <ul class="right">
            <%= link_to "Menu", root_url, {class: "nav-link"}  %>
            <%= link_to "Contact", root_url, {class: "nav-link"} %>
          </ul>

          <!-- Left Nav Section -->
          <ul class="left">
            <%= link_to "Our Story", root_url, {class: "nav-link"} %>
            <%= link_to "Events", root_url, {class: "nav-link"} %>
          </ul>
        </section>
      </nav>
      <div class="logo"><%= image_tag("SN_Logo_Zing_with_Tagline.png") %></div>
      <ul>
      <li class="phone_links"><%= link_to "Contact", root_url, {class: "phone_links_text"} %></li>
   <li class="phone_links"><%= link_to "Menu", root_url, {class: "phone_links_text"} %></li>
     <li class="phone_links"><%= link_to "Events", root_url, {class: "phone_links_text"} %></li>
        <li class="phone_links"><%= link_to "Our Story", root_url, {class: "phone_links_text"} %></li>
      </ul>
      </div>


            <nav class="top-bar footer" data-topbar>
              <div class="large-12 columns">
                <p class="copyright">© 2014 Sweet Nothings</p>
              </div>
            </nav>
</body>
